@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: blueviolet;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background-color: aliceblue; 
}

[sidebar] {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    background-color: #222222;

    display: flex;
    flex-direction: column;
    gap: 30px;

    align-items: center;
}

[sidebar] > [logo] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    color: white;

    margin-top: 30px;
}

[sidebar] > [menu] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

[sidebar] > [menu] > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

[sidebar] > [menu] > a:hover {
    color: var(--primary-color);
}

[content] {
    margin-left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

[content] > [index-image] {
    width: 100%;
}